#slider {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 650px;
}

#header {
    width: 100%;
    height: 100px;
    /*background: url(/resources/images/mainform/aist_header.jpg) no-repeat;*/
}

#header #sitetite {
    float: left;
    width: 240px;
    height: 65px;
    padding-top: 0px;
    margin-right: 0px;
    text-align: center;
}

#header #sitetite h1 {
    margin: 0;
    padding: 0;
}

#header #sitetite a {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #edecec;
    font-weight: normal;
    text-decoration: none;
}

#header #sitetite a span {
    display: block;
    font-size: 12px;
    color: #edecec;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 5px;
}

.scroll {
    height: 700px;
    width: 1200px;
    overflow: auto;
    /* overflow-x: hidden; */
    position: absolute;
    clear: left;
    opacity: 0.7;
    background-color: #ecf2fb;
    /*background: url(/resources/images/mainform/templatemo_content.jpg) repeat-y;*/
}

.scrollContainer div.panel {
    padding: 10px 50px;
    height: 640px;
    width: 1100px;
}

ul.navigation {
    position: absolute;
    top: 1px;

    float: left;
    width: 1300px;
    height: 40px;
    list-style: none;
    margin: 22px 0 0 0;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin-right: 10px;
}

ul.navigation a {
    float: left;
    display: block;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    color: #ff2f05;
    background-color: #68cdff;
    opacity: 0.5;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

ul.navigation a:hover, ul.navigation a.selected {
    color: #ff5213;
    background-color: #ceffb4;
    opacity: 0.8;
}

ul.navigation a:focus {
    outline: none;
}

.hide {
    display: none;
}

/*LEFT panel*/

.left_panel{
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #68cdff;
    height: 600px;
    width: 300px;
}

.slider_left {

    /*height: 800px;*/
    /*width: 600px;*/
    /*overflow: auto;*/
    /*clear: left;*/
    /*opacity: 0.8;*/
    /*background-color: #b9f3fb;*/
}

.scroll_left {

    /*background: url(/resources/images/mainform/templatemo_content.jpg) repeat-y;*/
}

.scrollContainer_left div.panel_left {
    padding: 10px 50px;
    height: 700px;
    width: 500px;
}

.panel_order {
    left: 10px;
    height: 850px;
    width: 600px;
    position: absolute;
    background-color: #cfe8fb;
    opacity: 0.8;
    overflow: auto;
}

.panel_add_device {
    position: absolute;
    left: 1300px;
    top: 230px;
    width: 500px;
    height: 400px;
    background-color: #bd96fb;
    -webkit-box-shadow: -15px 15px 14px 0 rgba(216, 0, 255, 0.25);
    -moz-box-shadow:    -15px 15px 14px 0 rgba(216, 0, 255, 0.25);
    box-shadow:         -15px 15px 14px 0 rgba(216, 0, 255, 0.25);
    z-index: 5;
}


.append_order{
    position: absolute;
    left:100px;
    top: 230px;
    width: 500px;
    height: 400px;
    background-color: #bd96fb;
    -webkit-box-shadow: -15px 15px 14px 0 rgba(216, 0, 255, 0.25);
    -moz-box-shadow:    -15px 15px 14px 0 rgba(216, 0, 255, 0.25);
    box-shadow:         -15px 15px 14px 0 rgba(216, 0, 255, 0.25);
    z-index: 5;
}